body{
    font-family: Poppins,sans-serif;
    padding: 0;
    margin: 0;
}
.portfolio__header{
    background-color: #f9f9f9;
}
.menu{
    display: none;
}
.portfolio__header-navbar{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 4rem;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}
.portfolio__header-navbar_logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.portfolio__header-navbar_logo h3{
    font-size: 20px;
    font-weight: bold;

}
.portfolio__header-navbar_list{
    display: flex;
    justify-content: flex-end;
    margin-right: 8rem;
}
.portfolio__header-navbar_list-mobile{
    display: none;
}
.portfolio__header-navbar_list-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
}
.portfolio__header-navbar_list-items a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.portfolio__header-navbar_list-items a:hover{
    color: blue;
    transition: .5s;
}
.portfolio__header-content{
    padding: 8rem 17rem;
    display: flex;
    flex-direction: column;
}
.portfolio__header-content_intro{
    display: flex;
    flex-direction: row;
}
.portfolio__header-content_intro-text{
    display: flex;
    flex-direction: column;
}
.portfolio__header-content_intro-text h1{
    font-size: 60px;
    max-width: 500px;
    margin-bottom: 0;
}
.portfolio__header-content_intro-text p{
    max-width: 400px;
    font-size: 18px;
    color:#555
}
.portfolio__header-content_tech{
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}

.vl {
    border-left: 2px solid rgb(71, 71, 71);
    height: 20px;
  }

.portfolio__header-content_tech-images{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 40px;
}
.portfolio__about{
    display: flex;
    flex-direction: row;
    padding: 8rem 17rem;
    gap: 100px;
}
.portfolio__about-image img{
    height: 350px;
    width: 400px;
    border-radius: 12px;
}
.portfolio__about-content h3{
    margin-top: 0;
    color: blue;
}
.portfolio__contact{
    background-color: #f9f9f9;
    padding: 8rem 17rem;
}
.portfolio__contact p{
    margin-top: 0;
    color: blue;
    font-weight: bold;
}
.portfolio__contact h3{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 70px;
}
.portfolio__contact-email{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.portfolio__contact-email p{
    color: black;
}
.portfolio__contact-email_text-address{
    color: #555;
}
.portfolio__footer{
    background-color: #2d2e32;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 17rem;
    color: #fff;
}
.portfolio__footer p{
    font-weight: bold;
    font-size: 18px;
}

/* tablets devices */
@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}
/* mobile devices */
@media screen and (max-width: 550px) {
    .portfolio__header-navbar{
        padding: 2rem;
        margin-right: 20px;

    }
    .menu{
        display: block;
    }
    /* .menu:hover .portfolio__header-navbar_list-mobile{
        display: block;

    } */
    .portfolio__header-navbar_list{
        display: none;
    }
    .portfolio__header-navbar_list-mobile{
        display: block;
        margin-right: 50px;
    }

    .portfolio__header-navbar_list-items-mobile{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio__header-navbar_list-items-mobile a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .portfolio__header-content{
        padding: 5rem;
        text-align: center;
    }
    .portfolio__header-content_intro-text h1{
        font-size: 37px;
        margin-top: 50px;
    }
    .portfolio__header-content_tech{
        display: flex;
        flex-direction: column;
    
    }
    .portfolio__header-content_tech-images{
        margin-left: 0;
    }
    .vl {
        position: absolute;
        border-left: 0;
        border-bottom: 2px solid rgb(71, 71, 71);
        width: 90px;
      }
      .portfolio__header-content_tech h4{
        margin: 0;
      }
      .portfolio__about{
        display: flex;
        flex-direction: column;
        column-gap: 50px;
        padding: 2rem;
        text-align: center;
    }
    .portfolio__about-image img{
        height: 240px;
        width: 370px;
        border-radius: 12px;
    }
   
    .portfolio__contact{
        background-color: #f9f9f9;
        padding: 5rem;
        text-align: center;
    }
    .portfolio__contact p{
        margin-top: 0;
        color: blue;
        font-weight: bold;
    }
    .portfolio__contact h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 70px;
    }
    .portfolio__contact-email{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .portfolio__footer{
        background-color: #2d2e32;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        color: #fff;
        text-align: center;
    }
    .portfolio__footer p{
        font-weight: bold;
        font-size: 18px;
    }
    .portfolio__footer-text{
        width: 100%;
    }
}
/* end */